<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_49b41c9878a2491db87255378a332bb8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_49b41c9878a2491db87255378a332bb8" ></div>
        
</body>
<script>    
    
            var map_49b41c9878a2491db87255378a332bb8 = L.map(
                "map_49b41c9878a2491db87255378a332bb8",
                {
                    center: [51.4934, 0.0098],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d20470a732de497a84b11146e92d77e1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_49b41c9878a2491db87255378a332bb8);
        
    
            var marker_cbced69f2e144c29a3dccd924ed578e2 = L.marker(
                [40.940848377936625, -73.74379901420785],
                {}
            ).addTo(map_49b41c9878a2491db87255378a332bb8);
        
    
        var popup_38c35f13ef734d7f998a9907c46cd5ec = L.popup({"maxWidth": "100%"});

        
            var html_65aeb83d56d341e38c6bfa08f3605ff7 = $(`<div id="html_65aeb83d56d341e38c6bfa08f3605ff7" style="width: 100.0%; height: 100.0%;">Mamaroneck High School</div>`)[0];
            popup_38c35f13ef734d7f998a9907c46cd5ec.setContent(html_65aeb83d56d341e38c6bfa08f3605ff7);
        

        marker_cbced69f2e144c29a3dccd924ed578e2.bindPopup(popup_38c35f13ef734d7f998a9907c46cd5ec)
        ;

        
    
    
            var marker_e56e5717833f4c02ad4c497a598f8d7a = L.marker(
                [40.934782198258986, -73.74543819514156],
                {}
            ).addTo(map_49b41c9878a2491db87255378a332bb8);
        
    
        var popup_29d452eda313414a9aadaaede284b0a1 = L.popup({"maxWidth": "100%"});

        
            var html_9d52f83f364f44b0b1b0f729b18f41e1 = $(`<div id="html_9d52f83f364f44b0b1b0f729b18f41e1" style="width: 100.0%; height: 100.0%;">Hommocks Middle School</div>`)[0];
            popup_29d452eda313414a9aadaaede284b0a1.setContent(html_9d52f83f364f44b0b1b0f729b18f41e1);
        

        marker_e56e5717833f4c02ad4c497a598f8d7a.bindPopup(popup_29d452eda313414a9aadaaede284b0a1)
        ;

        
    
    
            var marker_7f2cf62f8fa04d829220190cdca26898 = L.marker(
                [40.94352647376552, -73.7622735491124],
                {}
            ).addTo(map_49b41c9878a2491db87255378a332bb8);
        
    
        var popup_86b2904b9e404f159f42db0cdcbeb6a6 = L.popup({"maxWidth": "100%"});

        
            var html_56ae7f88bbd049d989c06ea11b933e53 = $(`<div id="html_56ae7f88bbd049d989c06ea11b933e53" style="width: 100.0%; height: 100.0%;">Murray Avenue School</div>`)[0];
            popup_86b2904b9e404f159f42db0cdcbeb6a6.setContent(html_56ae7f88bbd049d989c06ea11b933e53);
        

        marker_7f2cf62f8fa04d829220190cdca26898.bindPopup(popup_86b2904b9e404f159f42db0cdcbeb6a6)
        ;

        
    
    
            var marker_216e770d4a5c4d1cbc19cbaa1b0ec9e0 = L.marker(
                [40.930351914315615, -73.75358583746942],
                {}
            ).addTo(map_49b41c9878a2491db87255378a332bb8);
        
    
        var popup_1adb527a1a704193a7b9dff223069855 = L.popup({"maxWidth": "100%"});

        
            var html_2dd7940bd2a94ba6a51437f24fe3620e = $(`<div id="html_2dd7940bd2a94ba6a51437f24fe3620e" style="width: 100.0%; height: 100.0%;">Chatsworth Avenue School</div>`)[0];
            popup_1adb527a1a704193a7b9dff223069855.setContent(html_2dd7940bd2a94ba6a51437f24fe3620e);
        

        marker_216e770d4a5c4d1cbc19cbaa1b0ec9e0.bindPopup(popup_1adb527a1a704193a7b9dff223069855)
        ;

        
    
    
            var marker_b8f30c3d5e5b4616964a5e187ded1e36 = L.marker(
                [40.95898165955573, -73.73835424725726],
                {}
            ).addTo(map_49b41c9878a2491db87255378a332bb8);
        
    
        var popup_37ed38a0eacc4db3a29ccc194afe0760 = L.popup({"maxWidth": "100%"});

        
            var html_deeaf37dbcf84cbb878bc47349850dcb = $(`<div id="html_deeaf37dbcf84cbb878bc47349850dcb" style="width: 100.0%; height: 100.0%;">Mamaroneck Avenue School</div>`)[0];
            popup_37ed38a0eacc4db3a29ccc194afe0760.setContent(html_deeaf37dbcf84cbb878bc47349850dcb);
        

        marker_b8f30c3d5e5b4616964a5e187ded1e36.bindPopup(popup_37ed38a0eacc4db3a29ccc194afe0760)
        ;

        
    
    
            var marker_57b982e27675443e99e32350e9583ebb = L.marker(
                [40.93826842343693, -73.74714983008533],
                {}
            ).addTo(map_49b41c9878a2491db87255378a332bb8);
        
    
        var popup_f4dbace80d5c40ee87eae4d3e57afae5 = L.popup({"maxWidth": "100%"});

        
            var html_e4f0afaff2d04755a9aeb9041dabb763 = $(`<div id="html_e4f0afaff2d04755a9aeb9041dabb763" style="width: 100.0%; height: 100.0%;">Central School</div>`)[0];
            popup_f4dbace80d5c40ee87eae4d3e57afae5.setContent(html_e4f0afaff2d04755a9aeb9041dabb763);
        

        marker_57b982e27675443e99e32350e9583ebb.bindPopup(popup_f4dbace80d5c40ee87eae4d3e57afae5)
        ;

        
    
</script>